@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root{
    --white-color: #fefefe;
    --primary-color: rgb(22, 19, 53);
    --secondary-color: #f3f4f5;
    --nav-font: 'Kanit', sans-serif;
    --titles-font:'Roboto Condensed', sans-serif;
    --paragraphs-font: 'Lato', sans-serif;
}

/* -------------------------- body */

    body{
        background-color: var(--secondary-color);
    }

/* -------------------------- nav menu*/

nav{
    position: fixed;
    width: 100%;
    height: 10vh;
    background: var(--primary-color);
    display: flex;
    padding: 0 20px;
    font-family: var(--nav-font);
    font-size: 1em;
    z-index: 3;
}

nav ul{
    display: flex;
    width: 40%;
    justify-content: center;
}

.logo-container{
    width: 30%;
}

#logo-img{
    height: 100%;
}

nav ul li{
    margin:10px;
    color: var(--white-color);
    display: inline;
    margin: auto 1em;
}

nav ul li:hover{
    cursor: pointer;
}

.nav-login-buttons-container{
    width: 25%;
    justify-content: end;
    display: flex;
    align-items: center;
}

.nav-login-buttons-container p, a{
    display: inline;
    margin: auto 0.5em;
    color: white;
}

#login-button{
    padding: 10px;
    border-radius: 5px 0;
    border:none;
    margin: auto 0.5em;
    opacity: 0.4;
    font-weight: bold;
    transition: 0.2s opacity;
    font-family: var(--nav-font);
}

#login-button:hover{
    cursor: pointer;
    opacity: 1;
}

#register-button{
    text-decoration: none;
}

/* ---------------------------------- main styles */


main p{
    font-family: var(--paragraphs-font);
    font-weight: 300;
    font-size: 1.2em;
}

/* ---------------------------------- welcome-section*/

.welcome-section{
    height: 100vh;
}

.background-image-container{
    background: var(--primary-color);
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

#wave{
    position: relative;
    bottom: 190px;
    z-index: 1;
}



/* ----------------------------------- about info section */

.about-info-section{
    position: relative;
    padding-top: 70px;
    z-index:2;
}

.mainpage-title{
    text-align: center;
    font-family: var(--titles-font);
    font-size: 3em;
    margin: 1em 0;
}

.about-info-container{
    display: flex;
    width: 60%;
    margin:0 auto;
    align-items: center;
}

/* ----------------------------------- prices info section */

.price-cards-container{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: var(--nav-font);
}

.price-cards-container .card{
    height: 350px;
    width: 250px;
    margin:0 10px;
    background: white;
    border-radius: 15px 0;
}

#card-price-title{
    font-weight: bold;
    font-size: 2em;
}

.header-price-card{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-cards-container ul{
    height: 50%;
    font-weight: 200;
    padding: 0 10px;
}


.price-cards-container ul li{
    margin:5px 0;
}

.tickorcross{
    width: 20px;
    margin:0 10px;
}

.price-card-button{
    display: block;
    margin:0 auto;
    border: none;
    padding: 15px;
    font-weight: bold;
    border-radius: 15px 0;
    color: white;
    background: var(--primary-color);
}

.price-card-button:hover{
    cursor: pointer;
}

/* ------------------------------------ faqs section*/

.faq{
    display: flex;
    width: 70%;
    margin:1em auto;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 10px 0px;
    justify-content: space-between;
    color: #666666;
}

.faq-question{
    font-weight: bold; 
    font-family: var(--paragraphs-font);
    padding: 1em;                                       
}

.faq i{
    padding: 20px;
}

.faq i:hover{
    cursor: pointer;
}

/* ------------------------------------ footer*/

footer{
    background-color: var(--primary-color);
    height: 400px;
    margin-top: 100px;
}