:root{
    --white-color: #fefefe;
    --primary-color: ;
    --secondary-color: ;
    --titles-font:
}

/* -------------------------- nav menu*/

nav{
    position: fixed;
    width: 100%;
    height: 10vh;
    background: rgb(13, 8, 87);
    display: flex;
    padding: 0 20px;
}

nav ul{
    display: flex;
    width: 40%;
    justify-content: center;
}

.logo-container{
    width: 20%;
}

#logo-img{
    height: 100%;
}

.space{
    width: 10%;
}

nav ul li{
    margin:10px;
    color: var(--white-color);
    display: inline;
    margin: auto 1em;
}

nav ul li:hover{
    cursor: pointer;
}

.nav-login-buttons-container{
    width: 25%;
    justify-content: end;
    display: flex;
    align-items: center;
}

.nav-login-buttons-container p, a{
    display: inline;
    margin: auto 0.5em;
    color: white;
}

.nav-login-buttons-container button{
    padding: 10px;
    border-radius: 5px 0;
    background: pink;
    border:none;
    margin: auto 0.5em;
    opacity: 0.9;
    font-weight: bold;
}

